<!DOCTYPE html>
<html lang="en">
<head>
    <title>Papyrus Profiling Parser</title>
    <meta charset="utf-8">
    <meta name="author" content="Jake Alaimo">

    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="icon" type="image/ico" href="favicon.ico"/>

    <script src="lib/vue.min.js"></script>
    <script src="lib/FileSaver.min.js"></script>

    <script src="parser.js"></script>
    <script src="app.js"></script>
</head>
<body>
    
<div id="app">
    <div id="input">
        <label for="file" id="fileStyled" class="emptyFile">
            <input type="file" id="file" v-on:change="FileChanged" v-on:dragenter="FileDragged" ondragover="event.preventDefault()" v-on:dragleave="FileUndragged" v-on:drop="FileDropped">
            <span>{{selectedFile}}</span>
        </label>
        <input type="button" value="Parse" id="process" v-on:click="Process">
    </div>

    <div id="dynamicElements">
        <div v-if="displayedCategory">
            <div id="categories">
                <input type="button" v-for="(value, key) in logData" class="category" v-bind:class="{'selectedCategory' : displayedCategory == key}" v-on:click="DisplayCategory" v-bind:value="key">
            </div>
            <div id="elementBody">
                <div id="tableContainer">
                    <table>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>QUEUE_PUSH</th>
                                <th>PUSH</th>
                                <th>QUEUE_POP</th>
                                <th>POP</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(data, ID) in displayedData">
                                <td>{{ID}}</td>
                                <td>{{data.QUEUE_PUSH}}</td>
                                <td>{{data.PUSH}}</td>
                                <td>{{data.QUEUE_POP}}</td>
                                <td>{{data.POP}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div id="tableButtons">
                <input type="button" class="tableButton" id="exportButton" value="Export as CSV" v-on:click="ExportTable">
                <input type="button" class="tableButton" id="copyButton" value="Copy to Clipboard" v-on:click="CopyTable">
            </div>
        </div>
        <h2 v-else>Parse a file to see the results here. Click or drag onto the field above to select a file.</h2>
    </div>
</div>

<footer>
        Copyright &copy; 2020 Jake Alaimo | <a href="https://www.nexusmods.com/users/7101768?tab=user+files">My Mods</a> | <a href="https://paypal.me/jakealaimo" title="Thanks!">Donate</a>
</footer>

</body>
</html> 