#dynamicElements{
    position: absolute;

    width: 70%;
    height: 60%;

    left: 15%;
    top: 20%;
}

#categories {
    position: absolute;
    width: 100%;
    height: 5%;
}
.category{
    display: inline;
    margin: auto;
}

#tableContainer {
    position: absolute;
    width: 100%;
    height: 90%;
    top: 5%;

    overflow-y: auto;
}

table {
    font-family: arial, sans-serif;

    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;

    width: 100%;
}

thead tr {
    width: 100%;
}

thead th{
    position: sticky;
    width: 20%;
    top: 0;
    padding: 8px;
    text-align: left;

    color: white;
    border: 1px solid #797979;
    background-color: #8b8b8b; 

}

td {
    border: 1px solid #cacaca;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd; 
}

#copyButton {
    position: absolute;
    top: 95%;
    width: 100%;
    height: 5%;
}