#dynamicElements{
    position: absolute;

    width: 50%;
    height: 60%;

    min-width: 375px;

    left: 25%;
    top: 20%;

    background-color: #4b4b4b; 
}

#categories {
    position: absolute;
    width: 100%;
    height: 5%;

    display: flex;
    flex-direction: row;
    justify-content: center;
}
.category{
    background-color: #3b3b3b; 
    color: white;
    font-weight: bold;
    font-size: 1em;

    border: none;

    flex-basis: 0;
    flex-grow: 1;
}

.selectedCategory{
    background-color: #4b4b4b; 
    border: 1px solid black;
    border-bottom: none;
    outline: none;

    text-decoration: underline;
}

.category:focus {
    outline: none;
}

#tableContainer {
    position: absolute;
    width: 95%;
    height: 85%;
    top: 7.5%;
    left: 2.5%;

    overflow-y: auto;
}

table {
    font-family: arial, sans-serif;

    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;

    width: 100%;
}

thead tr {
    width: 100%;
}

thead th{
    position: sticky;
    width: 20%;
    top: 0;
    padding: 8px;
    text-align: left;

    color: white;
    border: 1px solid #797979;
    background-color: #8b8b8b; 
}

td {
    border: 1px solid #b8b8b8;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #c7c7c7; 
}

tr:nth-child(odd) {
    background-color: #ebebeb; 
}

#copyButton {
    position: absolute;
    top: 95%;
    width: 100%;
    height: 5%;
}